h1 {
  color: red;
}

body {
background: #E0E0E0; 
}

/*http://buildinternet.com/2008/11/how-to-center-a-website-with-css/
*/
*{ 
   margin:0;
   padding:0;
}
 
body{
   text-align:center; 
}

#wrapper{
   width:960px;
   margin:0 auto;
   text-align:left;
}